version: 2.1

# See https://circleci.com/orbs/registry/orb/circleci/gcp-gcr
orbs:
  gcp-gcr: circleci/gcp-gcr@0.6.1

jobs:
  build:
    docker:
    - image: python:3.8
    steps:
    - checkout
    - restore_cache:
        keys:
          # when lock files change, use increasingly general patterns to restore cache
          - &cache_key
            python-packages-v1-{{ .Branch }}-{{ checksum "requirements.in" }}-{{ checksum "requirements.txt" }}
          - python-packages-v1-{{ .Branch }}-{{ checksum "requirements.in" }}-
          - python-packages-v1-{{ .Branch }}-
          - python-packages-v1-
    - &build
      run:
        name: Build
        command: |
          python3.8 -m venv venv/
          venv/bin/pip install --upgrade pip
          venv/bin/pip install --upgrade -r requirements.txt
    - run:
        name: PyTest
        command: venv/bin/pytest --black --flake8
    - save_cache:
        paths:
        - venv/
        key: *cache_key

workflows:
  build-and-deploy:
    jobs:
      - build
      - gcp-gcr/build-and-push-image:
          requires:
            - build
          image: pensieve
          filters:
            branches:
              only:
                master
