version: 2.1

# See https://circleci.com/orbs/registry/orb/circleci/gcp-gcr
orbs:
  gcp-gcr: circleci/gcp-gcr@0.16.6

jobs:
  build:
    docker:
    - image: python:3.10
    steps:
    - checkout
    - restore_cache:
        keys:
          # when lock files change, use increasingly general patterns to restore cache
          - &cache_key
            python-packages-v1-{{ .Branch }}-{{ checksum "requirements.in" }}-{{ checksum "requirements.txt" }}
          - python-packages-v1-{{ .Branch }}-{{ checksum "requirements.in" }}-
          - python-packages-v1-{{ .Branch }}-
          - python-packages-v1-
    - &build
      run:
        name: Build
        command: |
          python3.10 -m venv venv/
          venv/bin/pip install --no-deps --progress-bar off --upgrade -r requirements.txt
    - run:
        name: ruff lint
        command: venv/bin/ruff check jetstream
    - run:
        name: ruff format
        command: venv/bin/ruff format --check jetstream
    - run:
        name: Mypy
        command: venv/bin/mypy jetstream
    - &authenticate
      run:
        name: Authenticate to GCP
        command: |
          export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp.json"
          echo 'export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp.json"' >> "$BASH_ENV"
          echo "$GCLOUD_SERVICE_KEY" > "$GOOGLE_APPLICATION_CREDENTIALS"
    - run:
        name: PyTest
        command: venv/bin/pytest --ruff --ruff-format --ignore=jetstream/tests/integration/
    - save_cache:
        paths:
        - venv/
        key: *cache_key
  integration:
    docker:
    - image: python:3.10
    steps:
    - checkout
    - *authenticate
    - &skip_forked_pr
      run:
        name: Early return if this build is from a forked PR
        command: |
          if [ -n "$CIRCLE_PR_NUMBER" ]; then
            echo "Cannot pass creds to forked PRs, so marking this step successful"
            circleci step halt
          fi
    - &build
      run:
        name: Build
        command: |
          python3.10 -m venv venv/
          venv/bin/pip install --no-deps --progress-bar off --upgrade -r requirements.txt
    - &pytest_integration_test
      run:
        name: PyTest Integration Test
        # Google's client libraries will check for GOOGLE_APPLICATION_CREDENTIALS
        # and use a file in that location for credentials if present;
        # See https://cloud.google.com/docs/authentication/production
        command: |
          export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp.json"
          echo "$GCLOUD_SERVICE_KEY_INTEGRATION_TEST" > "$GOOGLE_APPLICATION_CREDENTIALS"
          venv/bin/pytest --ruff --ruff-format --integration jetstream/tests/integration/
  deploy:
    docker:
      - image: python:3.10
    steps:
      - checkout
      - run:
          name: Install deployment tools
          command: |
            pip install --upgrade build setuptools wheel twine
      - run:
          name: Create the distribution files
          command: |
            python -m build --sdist
      - run:
          name: Upload to PyPI
          command: |
            # Relies on the TWINE_USERNAME and TWINE_PASSWORD environment variables configured at:
            #   https://app.circleci.com/settings/project/github/mozilla/jetstream/environment-variables
            # For more on twine, see:
            #   https://twine.readthedocs.io/en/latest/
            twine upload --skip-existing dist/*

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build
      - integration
      - gcp-gcr/build-and-push-image:
          requires:
            - build
            - integration
          image: jetstream
          filters:
            branches:
              only:
                main
  tagged-deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /[0-9]{4}.[0-9]{1,2}.[0-9]+/  # Calver: YYYY.M.MINOR
            branches:
              # Ignore all branches; this workflow should only run for tags.
              ignore: /.*/
